@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/commit-mono-vf.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

:root {
    --background: oklch(0.9918 0.0134 145.4732);
    --foreground: oklch(0.3005 0.0376 144.5679);
    --card: oklch(0.9918 0.0134 145.4732);
    --card-foreground: oklch(0.3005 0.0376 144.5679);
    --popover: oklch(0.9918 0.0134 145.4732);
    --popover-foreground: oklch(0.3005 0.0376 144.5679);
    --primary: oklch(0.8806 0.0903 144.7603);
    --primary-foreground: oklch(0.3005 0.0376 144.5679);
    --secondary: oklch(0.9506 0.054 145.1347);
    --secondary-foreground: oklch(0.3005 0.0376 144.5679);
    --muted: oklch(0.9613 0.0455 145.2101);
    --muted-foreground: oklch(0.4297 0.0348 144.9383);
    --accent: oklch(0.9506 0.054 145.1347);
    --accent-foreground: oklch(0.3005 0.0376 144.5679);
    --destructive: oklch(0.6636 0.2231 25.7269);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.5913 0.0639 144.7139);
    --input: oklch(0.9506 0.054 145.1347);
    --ring: oklch(0.5913 0.0639 144.7139);
    --chart-1: oklch(0.738 0.1354 260.1869);
    --chart-2: oklch(0.9025 0.1686 153.8009);
    --chart-3: oklch(0.7427 0.1728 358.569);
    --chart-4: oklch(0.9171 0.1892 135.1469);
    --chart-5: oklch(0.6815 0.1954 298.373);
    --sidebar: oklch(0.9918 0.0134 145.4732);
    --sidebar-foreground: oklch(0.3005 0.0376 144.5679);
    --sidebar-primary: oklch(0.8806 0.0903 144.7603);
    --sidebar-primary-foreground: oklch(0.3005 0.0376 144.5679);
    --sidebar-accent: oklch(0.9506 0.054 145.1347);
    --sidebar-accent-foreground: oklch(0.3005 0.0376 144.5679);
    --sidebar-border: oklch(0.5913 0.0639 144.7139);
    --sidebar-ring: oklch(0.5913 0.0639 144.7139);
    --font-sans: "CommitMono", monospace;
    --font-serif: Georgia, serif;
    --font-mono: "CommitMono", monospace;
    --radius: 0.25rem;
    --shadow-x: 0rem;
    --shadow-y: 0.125rem;
    --shadow-blur: 0.25rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05);
    --shadow-xs: 0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.1), 0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.1), 0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.1), 0rem 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.1), 0rem 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.1), 0rem 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0rem 0.125rem 0.25rem 0rem hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
